@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root{
    --primary-color:#3a4052;
    --overlay-color:rgba(24, 39, 51 , 0.98);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "open sans", sans-serif;
    line-height: 1.5;

}

a{
    text-decoration: none;
    color: var(--primary-color);

}

h1{
    font-weight: 300;
    font-size: 120px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    color: white;

}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url(/img/bg1.jpg) no-repeat center center/cover;
    width: 100%;
}
.content{
    z-index: 1;
}

.video-container video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover{
    transform: scale(0.98);
}

#about{
    padding: 40px;
    text-align: center;

}

#about p{
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);

}

.social a{
    margin: 0 5px;
    transition: all .5s;
}

.social a:hover:nth-child(1){
    color: #55acee;
}

.social a:hover:nth-child(2){
    color: #3b5999;
}
.social a:hover:nth-child(3){
    color: #e4405f;
}



/* hamburger style */
.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* hamburger line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* moves line down */
.menu-wrap .hamburger > div::after{
    top: 10px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);

}

/* turn lines into X */

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}


/* show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed) ;
}


.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
    z-index: 10;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vh;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;

}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.4s ease;

}

.menu-wrap .menu > div > div > ul > li > a:hover{
    color: blue;

}





/* Galery style */
.gallery{
    margin: 20px;
    padding: 0;
}
.img-container{
    max-width: 760px;
    margin: auto;
    border: #fff solid 3px;
    background: #333;
}

.main-img img,
.imgs img{
    width: 100%;
}
.imgs img{
    cursor: pointer;
}

.imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.gallery h2{
    text-align: center;
    margin: 30px 0;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 120px;
    line-height: 1.2;
}

.gallery{
    margin-top: 100px;
    margin-bottom: 200px;
}

/* fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}
/* Contact section */
/* .contact-section{
    color:#485e74;
} */
.contact-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.contact-section ul {
    list-style: none;
    padding: 0;
}
.contact-container .brand {
    text-align: center;
    font-size: 90px;
}
.contact-container .brand span {
    color: #485e74;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > *{
    padding: 1em;
}

.company-info {
    background: #c9e6ff;
}
.company-info h3,
.company-info ul{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact {
    background: #f9feff;
}

/* form styles */

.contact form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p{
    margin: 0;
}

.contact form .full {
    grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;

}

.contact form button {
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus{
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color .5s ease-in-out;
}


/* media */
@media (max-width: 600px){
    .imgs{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery h2{
        font-size: 90px;
        font-weight: 300;
    }
    #about h1 {
        font-size: 90px;
    }
}

/* media for contact large screens */
@media (min-width: 700px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .wrapper > * {
        padding: 2em;
    }
    .company-info h3, 
    .company-info ul {
        text-align: left;
    }
    .brand{
        margin-bottom: 50px;
    }
    .contact-section {
        margin-bottom: 30px;
    }
}
